<!DOCTYPE html>
<html>
<head>
	<title>Megan Grabill About Me</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<meta name="viewport" content="initial-scale=1">
</head>
<body>
	<header>
	<div id="nav">
		<a href="/">Home</a>
		<a href="about">About Me</a>
		<a href="portfolio">Portfolio</a>
		<a href="contact">Contact Me</a>
	</div>
	</header>


<div class="aboutme">

	<h2>About Me</h2>

<div id="grewup">
  <i class="fa fa-female fa-5x"></i>
  <i class="fa fa-female fa-4x"></i> 
  <i class="fa fa-female fa-3x"></i>
  <i class="fa fa-female fa-2x"></i>
  <p> Grew up in Long Island</p>
</div>

<div id="college"> 		
  <i class="fa fa-graduation-cap fa-5x"></i>
  <p> Graduated from the State University of New York at Potsdam</p>
</div>

<div id="degree">
  	<i class="fa fa-user-md fa-5x"></i>
  	<p> Received a Bachelors Of Science in Public Health </p>
</div>

<div id="brush">		
<i class="fa fa-paint-brush fa-5x"></i>
<p> Have always had an interest in Visual Graphic Arts</p>
</div>

<div id="pencil">		
  <i class="fa fa-pencil fa-5x"></i>
  <p> Self Taught in Adobe Programs like Photoshop and Illustrator </p>
</div>

<div id="code">
  <i class="fa fa-code fa-5x"></i>
  <p> Have an understanding of HTML,CSS, JavaScript and JQuery</p>
</div>

<div id="laptop">		
<i class="fa fa-laptop fa-5x"></i>
<p> Always researching, learning and practicing new techniques</p>
</div>

<div id="house">		
 <i class="fa fa-home fa-5x"></i>
 <p> I currently reside in Astoria, Queens</p>

</div>

      </div>
      
<div class="work">

<div id="resume">

<h2> Resume </h2>
<h4> Freelance Graphic Designer - Astoria, N.Y. - January 2013 - Present</h4>

<h4> Crate and Barrel - Manhasset, N.Y. - October 2007 - August 2014</h4>
<h5> Design/Operation/Merchandising Manager </h5>
<h4> City Harvest- New York City, N.Y. - July 2012 - September 2012</h4>
<h5> Nutrition Intern for the Nutrition Education Department</h5>
<h4> Cornell Cooperative Extension - Oswego, N.Y - September 2012 - November 2012 </h4>
<h5> Nutrition Intern in the Human Ecology Department </h5>

</div>
	
<div id="education">
<h2> Education </h2>

<h4> General Assembly - New York, N.Y. - September 2014 - Novemember 2014</h4>
<h5> Front End Web Development </h5>
<h4> State University of New York at Potsdam - Potsdam, N.Y. - May 2012</h4>
<h5> Bachelors of Science in Public Health </h5>
<h4> State University of New York Geneseo - Ghana, Africa - Summer 2011 </h4>
<h5> Study Abroad </h5>

</div>

</div>




		<div id="social-media">
            <a href="https://www.linkedin.com/in/megangrabill" target="_blank"><img src="png/48x48/linkedin.png" class="linkedIn"></a>
            <a href="https://twitter.com/MeganGrabill" target="_blank"><img src="png/48x48/twitter.png" class="twitter"></a>
            <a href="https://www.facebook.com/megan.grabill" target="_blank"><img src="png/48x48/facebook.png" class="facebook"></a>
            <a href="http://www.pinterest.com/grabes5/resume/" target="_blank"><img src="png/48x48/pinterest.png" class="pin"></a>
		</div>
	<div id="contact-bottom">
	<p> Feel free to contact me at anytime for more information. I would love to hear from you!</p>

	 <a href="mailto:meggrabill5@gmail.com"> Contact Me!</a>

	</div>

	<div id="bottom-info">
	<h4> Megan Grabill 2014 </h4> 
	</div>

</body>

 </html>