<!DOCTYPE html>
<html>
<head>
	<title> Megan Grabill Contact Me</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
	<div id="nav">
		<a href="/">Home</a>
		<a href="about">About Me</a>
		<a href="portfolio">Portfolio</a>
		<a href="contact">Contact Me</a>
	</div>
</header>
<div id="contact-me">
<h2>Contact Me:</h2>

	<p> Feel free to contact me at anytime for more information. I would love to hear from you!<p>

	 <a href="mailto:meggrabill5@gmail.com"> Email Me!</a>

	</div>

</body>

<footer>
		<div id="social-media2">
            <a href="https://www.linkedin.com/in/megangrabill" target="_blank"><img src="png/64x64/linkedin.png" class="linkedIn"></a>
            <a href="https://twitter.com/MeganGrabill" target="_blank"><img src="png/64x64/twitter.png" class="twitter"></a>
            <a href="https://www.facebook.com/megan.grabill" target="_blank"><img src="png/64x64/facebook.png" class="facebook"></a>
            <a href="http://www.pinterest.com/grabes5/resume/" target="_blank"><img src="png/64x64/pinterest.png" class="pin"></a>
		</div> 
		
    </footer>

    <div id="bottom-info">
	<h4> Megan Grabill 2014 </h4> 
	</div>

</html>