<!DOCTYPE html>
<html>
<head>
	<title>Megan Grabill</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="initial-scale=1">

<body>
<header>
	<div id="nav">
		<a href="/">Home</a>
		<a href="about">About Me</a>
		<a href="portfolio">Portfolio</a>
		<a href="contact">Contact Me</a>
	</div>
</header>

	<div id="home">
	<h4> Freelance Graphic Designer</h4>
	<div id="me"><img src="images/me.jpg"></div>
	<p> Hi! I'm Megan, I am a self taught Freelance Graphic Designer! Please feel free to check out my site as well as the work I've done.<p>
	</div>
	</body>
	<footer>
		<div id="social-media">
            <a href="https://www.linkedin.com/in/megangrabill" target="_blank"><img src="png/48x48/linkedin.png" class="linkedIn"></a>
            <a href="https://twitter.com/MeganGrabill" target="_blank"><img src="png/48x48/twitter.png" class="twitter"></a>
            <a href="https://www.facebook.com/megan.grabill" target="_blank"><img src="png/48x48/facebook.png" class="facebook"></a>
            <a href="http://www.pinterest.com/grabes5/resume/" target="_blank"><img src="png/48x48/pinterest.png" class="pin"></a>
		</div>  
		<div id="contact-bottom">
	<p> Feel free to contact me at anytime for more information. I would love to hear from you!</p>

	 <a href="mailto:meggrabill5@gmail.com"> Contact Me!</a>

	</div>
    </footer>
    <div id="bottom-info">
	<h4> Megan Grabill 2014 </h4> 
	</div>
</html>