<!DOCTYPE html>
<html>
<head>
	<title> Megan Grabill Portfolio</title>
		
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="fancybox/jquery.fancybox.css?v=2.1.5">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<header>
	<div id="nav">
		<a href="/">Home</a>
		<a href="about">About Me</a>
		<a href="portfolio">Portfolio</a>
		<a href="contact">Contact Me</a>
	</div>
	
	</header>

	<div id="portfolio">
		<h1> Megan Grabill </h1>
		<h2>Portfolio</h2>
	</div>
		
		<div id="wrapper">
			<div class="row1">
				<p> Here is a page of the work I've done over the years. I am self taught in Photoshop and Illustrator.</p>
				<a class="thumbnail" rel="project" href="images/big/meter_big.png"><img src="images/meter_thumbnail.png"></a>
				<a class="thumbnail" rel="project" href="images/big/fox_big.png"><img src="images/fox_small.png"></a>
				<a class="thumbnail" rel="project" href="images/big/rhino_big.png"><img src="images/rhino_thumbnail.png"></a>
				<a class="thumbnail" rel="project" href="images/big/date_big.png"><img src="images/date_thumbnail.png"></a>
				<a class="thumbnail" rel="project" href="images/big/monkey_big.png"><img src="images/monkey_thumbnail.png"></a>
				<a class="thumbnail" rel="project" href="images/big/wine_big.png"><img src="images/wine_thumbnail.png"></a>
				<a class="thumbnail" rel="project" href="images/big/fish_big.png"><img src="images/fish_thumbnail.png"></a>
				<a class="thumbnail" rel="project" href="images/big/camera_banner_big.png"><img src="images/camera_banner_thumbnail.png"></a>
			</div>
			<div class="row2">
				<p> This is the 4 page layout of the invitations and sponsorship cards I designed for the Brooklyn-Queens-Long Island Area Health Education Center's Annual Gala:</p>
				<a class="thumbnail" rel="BQLI" href="images/big/BQLI_big1.png"><img src="images/BQLI_P1_thumbnail.png"></a>
				<a class="thumbnail" rel="BQLI" href="images/big/BQLI_big2.png"><img src="images/BQLI_P2_thumbnail.png"></a>
				<a class="thumbnail" rel="BQLI" href="images/big/BQLI_big3.png"><img src="images/BQLI_P3_thumnail.png"></a>
				<a class="thumbnail" rel="BQLI" href="images/big/BQLI_big4.png"><img src="images/BQLI_P4_thumnail.png"></a>
				
			</div>
			<div class="row3">
				<a class="thumbnail" rel="sponsor" href="images/big/Sponsor_big1.png"><img src="images/sponsor_1.png"></a>
				<a class="thumbnail" rel="sponsor" href="images/big/sponsor_big2.png"><img src="images/sponsor_2.png"></a>

				
				<p> Just a few images of my most recent projects. Stay Tuned for more!</p>
			</div>
		</div>

		<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
		<script type="text/javascript" src="js/project.js"></script>
	</body>

	<footer>
		<div id="social-media">
            <a href="https://www.linkedin.com/in/megangrabill" target="_blank"><img src="png/48x48/linkedin.png" class="linkedIn" ></a>
            <a href="https://twitter.com/MeganGrabill" target="_blank"><img src="png/48x48/twitter.png" class="twitter"></a>
            <a href="https://www.facebook.com/megan.grabill" target="_blank"><img src="png/48x48/facebook.png" class="facebook"></a>
            <a href="http://www.pinterest.com/grabes5/resume/" target="_blank"><img src="png/48x48/pinterest.png" class="pin"></a>
		</div> 
		<div id="contact-bottom">
	<p> Feel free to contact me at anytime for more information. I would love to hear from you!</p>

	 <a href="mailto:meggrabill5@gmail.com"> Contact Me!</a>

	</div> 
    </footer>
    <div id="bottom-info">
	<h4> Megan Grabill 2014 </h4> 
	</div>


</html>