body{
	background-color: #222222;
	color:white;

}


header #nav{
	margin-top:20px;
	background-color: #222222;
	color:#83B3D6;
	margin:0 auto;
	width:100%;
	overflow:hidden;


}

header #nav a{
	width:22%;
	padding:19.2px;
	color:#4988B7;
	background-color: #222222;
	font-size: 30px;
	text-decoration: none;
	display:block;
	float:left;
	text-align: center;
	font-family: 'Poiret One';
	border-bottom:solid 3px #4988B7;
	border-top: solid 3px #4988B7;


}

p{
  font-family: 'Poiret One';
  color: #4988B7;

}
h3{

	font-family: 'Poiret One';
	font-size: 30px;
}


header #nav a:hover {
color:white;
background-color: #256EA5;
font-size: 30px;

}

#portfolio h1{
	clear:both;
	font-size: 60px;
	font-family: 'Lobster';
	text-align: center;
	padding-top:10px;
}

.aboutme h2{
	clear:both;
	font-size: 50px;
	font-family: 'Lobster';
	text-align: center;
	padding-bottom: 10px;
	padding-top: 30px;
	color:#ff6666;

}

.work #resume h2{
	clear:both;
	font-size: 50px;
	font-family: 'Lobster';
	text-align: center;
	border-top:solid 4px #669DC6;
	padding-bottom: 20px;
	padding-top: 60px;
	color:#ff6666;

}

.work #education h2{
	clear:both;
	font-size: 50px;
	font-family: 'Lobster';
	text-align: center;
	padding-bottom: 20px;
	padding-top: 30px; 
	color:#ff6666;
}

#portfolio h2{
	clear:both;
	font-size: 70px;
	font-family: 'Lobster';
	text-align: center;
	color:#ff6666;
	margin-top: 20px;

}

.aboutme{
	font-family: 'Poiret One';
	background-image: url("../images/brickwall.png");
	color:#83B3D6;
	
}

.aboutme #grewup{
	margin-left:100px;
	margin-right:50px;
	margin-bottom: 30px;
	margin-top: 20px;
	float:left;
	text-align: center;

	
}

.aboutme #college{
	float:left;
	margin-left:60px;
	margin-right:60px;
	margin-bottom: 50px;
	margin-top:20px;
	text-align: center;
	width:170px;

}

.aboutme #degree{
	float:left;
	margin-left: 60px;
	margin-right:50px;
	margin-bottom: 50px;
	margin-top:20px;
	text-align: center;
	width:150px;

}

.aboutme #brush{
	float:left;
	margin-left: 90px;
	margin-right:80px;
	margin-bottom: 50px;
	margin-top: 20px;
	text-align: center;
	width:150px;
}

.aboutme #pencil{
	float:left;
	margin-left: 100px;
	margin-right:80px;
	margin-bottom: 30px;
	width:150px;
	text-align: center;
}

.aboutme #code{
	float:left;
	margin-left: 60px;
	margin-right:70px;
	width:150px;
	text-align: center;
}

.aboutme #laptop{
	float:left;
	margin-left: 70px;
	margin-right:80px;
	width:150px;
	text-align: center;
}

.aboutme #house{
	float:left;
	margin-left: 50px;
	margin-right:80px;
	text-align: center;
	width:150px;

	
}
.aboutme p{
	color:#ff6666;
	padding-top: 10px;
	line-height: 17px;


}

#me img{
	border:2px solid #669DC6;
	border-radius: 600px;
	width:300px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#me{
 	background-color: #222222;

 }

body #home{
	font-size: 25px;
	text-align: center;
	font-family: 'Poiret One';

}


#home h4{
	padding-top: 100px;
	padding-bottom: 20px;
	font-family:'Lobster', cursive;
	color:#ff6666;
	font-size: 50px;
	background-image: url("../images/brickwall.png");
	border-bottom: 3px solid #669DC6;
	

}

#home p{
	text-align: center;
	background-color: #222222;
	padding-top: 10px;	
	padding-bottom: 10px;
}



.work{
	text-align: center;
	line-height: 30px;
	font-family: 'Poiret One';
	background-image: url("../images/brickwall.png");
	color:#669DC6;
	padding-top: 30px;

}
 

#social-media{
	float:right;
	margin-top: 20px;
	margin-right: 30px;
	margin-bottom: 20px;
}

#social-media a:hover{
	opacity: .7;
}
#social-media2{
	margin-top: 50px;
	margin-left: 480px;
	float:left;


}
#social-media2 a:hover{
	opacity:.7;


}
#contact-bottom{
	
	border-top: 5px solid #669DC6;
	
}

#contact-bottom p {
	font-family: 'Poiret One';
	margin-left:20px;
	margin-top: 20px;
	margin-bottom: 10px;
	
}

#contact-bottom a{
	color:#669DC6;
	font-size: 30px;
	margin-left: 40px;
	font-family: 'Poiret One';	
	text-decoration: none;

}

#contact-bottom a:hover{
	color:#ff6666;
	font-size: 40px;
}

#contact-me h2{
	color:white;
	font-size: 30px;
	margin-left: 40px;
	font-family: 'Poiret One';	
	text-decoration: none;
	margin-top: 50px;



}

#contact-me p{
	margin-left: 40px;
	font-size: 40px;
	margin-bottom:20px;
	
}

#contact-me a{
	color:#669DC6;
	font-size: 30px;
	padding-bottom: 20px;
	margin-left: 40px;
	font-family: 'Poiret One';	
	text-decoration: none;

}
#wrapper {
	margin-bottom: 400px;
	width:1000px;
	margin: 30px auto;
}

.row1 p{
	font-size: 20px;
	margin-bottom: 40px;
	padding-bottom:30px;
	border-bottom: 3px solid #669DC6;	
}
	
#bottom-info {
	font-family: 'Poiret One';
	float:right;
	clear:both;	
	margin-right: 30px;
	margin-bottom: 20px;	

}

.row1{
	margin-bottom: 40px;

}

.row2{
	padding-top: 30px;
	border-top: 3px solid #669DC6;
	margin-bottom: 20px;
}

.row2 p{
	padding-bottom: 30px;
	font-size: 20px;	
}

.row3 p{
	font-size: 20px;
	padding-top: 20px;	
	text-align: center;	
}

.thumbnail a:hover{
	opacity: .7;
}

.row1 a:hover {
	opacity: .8;
}

.row2 a:hover{
	opacity: .8
}

.row3 a:hover{
	opacity: .8;
}

@media only screen and (max-width: 480px){
	body {
		font-size: 13px;
		width:100%;

	}
	#home p{
		font-size: 24px;
		width:80%;
		margin-left: 40px;
		
	}

	#home h4{
		width:100%;
		padding-top: 20px;
		font-size: 27px;
		text-align: center;
	}

	header #nav a {
		float: none;
		width: 100%;
		border-top:none;
		border-bottom:2px solid #4988B7;
		text-align: center;
	}

	header #nav a:hover{
		font-size: 30px;
		border-bottom:none;
		border-top:none;

	}

	#contact-bottom a:hover{
		font-size:20px;
	}

	#contact-bottom p{
	
		display:none;
	}

	#bottom-info{
		float:none;
		margin-left: 55px;
		margin-top: 10px;
		font-size: 15px;
		text-align: center;

	}

	#social-media{
		float:none;
		display:none;
		
	}


    .aboutme{
    	width:100%;
    	background-image: none;
    }

    .work{
    	width:100%;
    }

    .aboutme #grewup{
    float:none;
    margin-left: 40px;

    }

    .aboutme #college{
	 float:none;
	 margin-left:100px;
    }

	.aboutme #degree{
		float:none;
		margin-left: 100px;
	}

	.aboutme #brush{
		float:none;
		margin-left:100px;
	}

	.aboutme #pencil{
		float:none;
		margin-left:100px;	
	}

	.aboutme #code{
		float:none;
		margin-left:100px;
	}
	.aboutme #laptop{
		float:none;
		margin-left:100px;
	}
	.aboutme #house{
		float:none;
		margin-left: 100px;
	}

	#social-media2{
	float:right;
	width:84%;
	margin-right: 20px;
	margin-bottom: 20px;
	
	}


	#contact-me h2{
		font-size: 30px;
		margin-top: 20px;
		text-align: center;
	}


	#contact-me p{
		font-size:30px;
		width:80%;
		text-align: center;
		margin-right: 80px;
		
	}
	#contact-bottom{
		border-top: none;
		margin-top: 20px;

	}
	#contact-bottom a{
		margin-left:110px;
		font-size: 25px;
		
	}

	#contact-me a:hover{
		color:#ff6666;

	}

	.work {
		background-image: none;
	}

	.work #resume h4{
		width:55%;
		text-align: center;
		font-size:13px;
		margin-left: 90px;

	}

	.work #resume h5{
		font-size: 13px;
		text-align:center;
		width:75%;
		margin-left: 45px;
		
			
	} 

	.work #education h4{
		width:80%;
		text-align: center;
		font-size: 13px;
		margin-left: 40px;
	}

	.work #education h5{
		margin-left: 3px;
		text-align: center;
		font-size: 12px;
	}

	.work #education {
		border-bottom: 3px solid #669DC6;
		margin-bottom: 30px;
	}

	#wrapper{
		width:80%;
	}
	#portfolio h1 {
		font-size: 45px;
	}
	#portfolio h2{
		font-size: 40px;
	}

	.row1 {
		width:80%;
		margin-left: 30px;
	

	}

	.row1 p{
		width:80%;
		text-align: center;
		border-bottom: none;
		margin-left: 20px;
		font-size: 25px;

	}

	.row2 {
		width:80%;
		margin-left: 50px;
		
		
	}

	.row2 p{
		width:80%;
		margin-left: 10px;
		text-align: center;
		font-size: 25px;
		
	}

	.row3{
		width:80%;
		margin-left: 50px;
		
	}

	.row3 p{
		width:80%;
		text-align: center;
		margin-left: 30px;
		font-size: 25px;
	}















